# 주석문

- **주석**은 코드의 실행과 무관한 문장을 기록하기 위한 기능이다.

In [ ]:
# 변수선언
a=10
print(a)

# Mark Down 실습

## 블록 인용문

- 블록 인용문 실습
> 첫 번째 블록 인용문
>> 두 번째 블록 인용문

## 순서 있는 목록
- 숫자와 마침표 사용

1. 첫 번째 목록
2. 두 번째 목록

## 줄바꿈
- \<br\> 태그 또는 공백 두 칸 다음에 엔터

문장 1  
문장 2

## 기울여 쓰기
- '*', '_' 로 감싼 텍스트

- 문장 _기울여_ 쓰기

## 취소선
- '~~'로 감싼 텍스트

- ~~취소 문장~~

## 글상자
- '`'로 감싼 텍스트
- `글상자 테스트`

## 링크
- 사이트 및 이메일 링크, \[제목](주소)

[네이버](https://www.naver.com)

## 내부 링크
- 내부 헤더로 이동하는 링크
- \[제목](#이동할 헤더 제목)
- 제목에 띄어쓰기가 있는 경우 '-'로 연결

[마크다운 실습](#Mark-Down-실습)

## 이미지 삽입
- \![제목](파일이름 또는 웹 주소)

![파이썬 로고](python.jpg)

<img src= 'python.jpg' width='100px' height='120px'>

## 코드 삽입
- \```코드이름``` 사이에 코드 블록 삽입
- 코드이름 : python, html, javascript, java...
- 파이썬 코드 삽입
```python
import time
print('hello')```

##  표
- 헤더 셀을 구분할 때 3개 이상의 ---기호 사용
- 콜론(:)으로 정렬 방식을 지정

|Type-A|Predict|Type-B|
|---:|:---|:---:|
|kind|Positive|Negative|
||10|20
|Negative|10|20

# 연산자와 데이터

In [ ]:
## 산술 연산자

a = 10
b = 35

print (a+b)
print (a-b)
print (a*b)
print (a/b)
print (a//b)
print (b//a)

In [ ]:
# + 더하기 연산자 오버로딩 : 문자  결합, 단 숫자와 문자열 결합은 불가
c = '사과'
d = 10
print (c+str(d)) #std: d 변수의 데이터 타입을 문자열로 변환

In [ ]:
# * 연산자 오버로딩 : 문자열 반복
e = '하'
print(e*5)

In [ ]:
# 나머지 연산자 (mod) : %
f = 25.5
g = 3
print(f % g)

In [ ]:
# 거듭제곱 연산자: **
print(g ** 2)

In [ ]:
# 논리 연산자

x = 1 #True
y = 0 #False
print(x and y)
print (x or y)

In [ ]:
a = 10
b = 20
print(a,b)
print(a,b, sep=',') # sep 하나의 프린트 함수에 여러 값을 출력할 때 사용할 구분 문자열
print(a, end=' ') # end 값을 출력 후 끝에 출력할 문자열 기본값은 '\n' newline
print(b)

[문제] A 회사의 주가가 56,000원이고 B 회사의 주가가 125,000원이라고 할 때, 어떤 사람이 A 주식 100주와 B 주식 35주를 가지고 있다면 그 사람이 가지고 있는 주식의 총액을 계산하는 코드를 변수 선언 및 연산자를 사용하여 작성하시오.

In [ ]:
A = 56000
B = 125000
TOTAL_MONEY = (A * 100) + (B * 35)
print ('총 주식액: ', TOTAL_MONEY)
print(F'총 주식액: {TOTAL_MONEY:,}')

[문제] 화씨 온도(F)를 섭씨 온도(C)로 변환하는 다음 공식을 이용하여 화씨온도가 50일때 섭씨온도를 계산하시오.
- C = (F - 32) / 1.8

In [ ]:
F = 50
C = (F - 32) / 1.8
print(F'화씨 온도가 {F}F 일 때 섭씨 온도는 {C}C 이다.')

# 표준 입출력

In [ ]:
a = int(input('밑변의 길이 입력: '))
b = int(input('높이의 길이 입력: '))
c = a*b
print(F'밑변의 길이가 {a}이고, 높이가 {b}인 사각형의 넓이:{c}')

# 제어문

In [ ]:
score = float(input('점수 입력: '))

if score >= 90 :
    print('합격')
elif 70 <= score <= 90 :
    print('재시험')
else:
    print('탈락')

In [ ]:
notEmptyString = 'test'

if notEmptyString:
    print('문자열이 비어있지 않습니다.')
else:
    print('문자열이 비어있습니다.')

In [ ]:
i = 21

if not i % 2 == 0:
    print('짝수')
else:
    print('홀수')

[문제] 정수 하나를 입력받아 5의 배수인지를 조사하여 그 결과를 출력하시오.

In [ ]:
i = int(input('정수 하나를 입력하시오: '))
if i % 5 == 0 :
    print ('5의 배수입니당')
else : 
    print ('5의 배수 아닙니당')

[문제] 화폐단위 계산
사용자로부터 금액을 입력받아 화폐의 단위별 개수를 출력하는 프로그램을 작성하시오.
조건) 화폐의 종류 : 만원, 천원, 백원, 십원 (일원단위 절삭)
<실행 예>
금액을 입력하세요 : 45638
만원 : 4개
천원 : 5개
백원 : 6개 
십원 : 3개

In [ ]:
coin = int(input('금액을 입력하세요: '))
A = coin//10000
B = coin//1000%10
C = coin//100%10
D = coin//10%10
print(f'만원 : {A} 개')
print(f'천원 : {B} 개')
print(f'백원 : {C} 개')
print(f'십원 : {D} 개')

money = int(input('금액을 입력하세요: '))
만원 = money // 10000
천원 = (money % 10000)//1000 #(money - 만원*10000) // 1000
백원 = (money % 1000)//100
십원 = (money % 100)//10
print(f'만원 : {만원} 개')
print(f'천원 : {천원} 개')
print(f'백원 : {백원} 개')
print(f'십원 : {십원} 개')

## 삼항 연산자
- 결과값 변수 = 참인 경우 선택될 값 if 조건식 else 거짓인 경우 선택될 값

In [ ]:
a = 10
b = 20
result = 'a와 b는 같지않다' if a!= b else 'a와 b는 같다'
print(result)

[문제] 대도시 판단 여부
[판단조건] 
수도이면서 인구가 100만 이상인 도시
또는 , 부자가 200만 이상인 도시
[실행예시]
수도입니까? (수도:1, 수도아님:0) 1
인구(단위:만) 150
부자의 수(단위:만) 50
대도시 여부 : True
수도입니까? (수도:1, 수도아님:0) 1
인구(단위:만) 90
부자의 수(단위:만) 210
대도시 여부 : True

** 삼항연산자 이용

In [ ]:
A = int(input('수도입니까? 수도이면 1, 수도가 아니면 0을 입력해주세요.'))
B = int(input('인구(단위:만)으로 입력해주세요.'))
C = int(input('부자의 수 (단위:만)으로 입력해주세요.'))
result = True if A and (B >= 100 or C >= 200) else 'False'
print(f'대도시 여부 : {result} ')

In [ ]:
isCapital = input('수도입니까?(수도 : 1, 수도아님 : 0)')
citizens = int(input('인구(단위:만)'))
riches = int(input('부자의 수(단위:만)'))
result = True if (isCapital == '1' and citizens >= 100) or riches >= 200 else False
print('대도시여부: ', result)

[문제] 시간제 임금 계산
근무한 시간을 입력받아 다음과 같은 규칙에 맞게 임금을 계산하시오.
- 8시간까지는 시간당 9,900원이고 8시간 초과분에 대해서는 1.5배를 지급한다.
[실행예시]
근무시간을 입력하세요: 25
임금은 331,650원 입니다. if 문을 이용하시오

In [ ]:
worktime = int(input('근무시간을 입력하세요: '))
if worktime <= 8 :
    print('임금은', worktime * 9900, '원 입니다.')
else :
    result = ((9900*8) + ((worktime-8)*(9900*1.5)))
print(f'임금은 {result:,.0f}원 입니다')

In [ ]:
base_pay = 9900
hour = int(input('근무시간을 입력하세요: '))
pay = 0 # 최종임금을 저장할 변수
if hour > 8:
    pay = 8 * base_pay + (hour-8)* base_pay * 1.5
else :
    pay = hour * base_pay
print(f'임금은 {pay:,.0f}원 입니다.')

# 반복문

In [ ]:
 c = 1
while c <= 5:
    print(c, end=' ')
    c += 1
print('End')

In [ ]:
sum = 0
for i in range (1, 11):
    sum += i # sum = sum + i
print(sum)

In [ ]:
while True: #무한반복
    s = input('영어 단어를 입력하세요(종료:q) ')
    if s == 'q': break 
    print(s.upper())
print('End')

[문제] 1~100 사이의 값 중 짝수에 해당하는 값의 총 합을 구하는 프로그램을 작성하세요.

In [ ]:
sum = 0
for i in range(1,101):
    if i % 2 == 0 :
        sum += i
    else :
        continue
print(sum)

In [ ]:
sum = 0
for i in range (1, 101):
    if i % 2 !=0: continue
    sum += i
print(sum)

In [ ]:
#파이썬에서 문자열은 집합형 데이터(리스트)로 관리한다.
for s in 'abcdef':
    print(s, end=',')
print('\b')

In [ ]:
a = [1,2,3,4] #a는 list 객체
result = []
for i in a:
    result.append(i*3) #append()는 리스트 객체에 값을 추가하는 함수
print(result)

In [ ]:
1# list comprehension
result = [ i*3 for i in a]
print(result)

In [ ]:
# list comprehension with if
result = [i*3 for i in a if not i%2]
print(result)

In [ ]:
# a 원소 중 짝수는 3배수 하고 홀수는 원래의 값을 갖는 리스트를 생성
result = [ i*3 if not i%2 else i for i in a ]
print(result)

In [ ]:
for i in range(5):
    for j in range (5):
        print(f'i={i},j={j}')

## for ~ else 문
- while ~ else / for ~ else: 반복문이 break 등으로 중간에 빠져나오지 않고 끝까지 실행 됐을 경우 else문이 실행된다.

In [ ]:
word_list = ['java', 'python', 'c++', 'pascal']
key_word = input('검색 단어를 입력하세요: ')
for word in word_list: 
    if word == key_word:
        print('검색 결과: ', word)
        break
else: print('검색 결과가 없습니다.')

[문제] for문과 문자열 반복을 이용하여 다음 문자열을 출력하세요.
---------+---------+---------+---------+---------+

In [ ]:
for i in range(6):
        sum*=i
print('---------+'*i, end='')

In [ ]:
for i in range (5):
    print('-'* 9, end ='')
    print('+', end ='')

In [ ]:
for i in range(5):
    for j in range(9):
        print('-', end='')
    print('+', end='')

In [ ]:
[문제] 사용자로부터 입력받은 단의 구구단을 출력하는 프로그램을 작성하세요.
[실행예시]
단을 입력하세요: 3
3 x 1 = 3 ... (아래로) 3 x 9 = 27

In [ ]:
a = int(input("단을 입력하세요: "))
for i in range (9):
    print( a, end=' x ')
    print (i+1, end=' = ')
    print(a*(i+1))

In [ ]:
dan = int(input('단을 입력하세요: '))
for i in range (1, 10):
    # print(dan, 'x', i, '=', dan*i)
    print(f'{dan} x {i} = {dan*i:<2d}')

[문제] 합계 구하기
정수를 입력받아 1부터 입력받은 정수까지의 합을 구하여 출력하는 프로그램을 작성하세요.
단, 반복문은 while을 이용할 것

In [ ]:
num = int(input('정수입력: '))
sum = 0 #전체 합계를 저장
cnt = 0 #반복 횟수
while cnt < num 
    cnt += 1
    sum += cnt
print(f'1 ~ {num}까지의 합 : {sum}')

[문제] 연도를 입력받아 윤년인지 평년인지를 판단하는 프로그램을 작성하세요.
프로그램은 반복적으로 수행되며 0을 입력 받으면 프로그램을 종료한다.
윤년조건 : 4로 나누어 떨어지고, 100으로 나누어 떨어지지 않는 해 또는 400으로 나누어 떨어지는 해
[실행예시]
연도를 입력하세요 (종료:0) 2023
2023년은 평년입니다. 
연도를 입력하세요 (종료:0) 2024
2024년은 윤년입니다. 
연도를 입력하세요 (종료:0) 0
End

In [ ]:
while True:
    
    year = int(input('연도를 입력하세요.(종료: 0): '))
    
    if year == 0 : 
        print('End')
        break 

    elif ((year % 4 == 0 and year % 4 != 100) or (year % 400 == 0)) :
        print(f'{year} 년은 윤년입니다.')
    else :
        print(f'{year} 년은 평년입니다.')

In [ ]:
while True:
    year = int(input('연도를 입력하세요(종료:0) '))
    if year == 0 : break
    result = '윤년' if (year%4==0 and year%100 != 0) or (year%400 == 0) else '평년'
    print(f'{year}년은 {result}입니다.')
print('End')

[문제] BMI 측정 프로그램
키와 몸무게를 입력받아 BMI 측정 결과를 출력하는 프로그램을 작성하세요.
[BMI 계산식]
BMI = 몸무게(kg) / 키 (m)의 제곱
** BMI 비만도 판단 결과 지표
18.5미만 : 저체중
18.5 ~ 22.9 : 정상체중
23 ~ 29.9: 비만 1단계
29.9 초과 : 비만 2단계
[실행예시]
키를 입력하세요 (CM) : 170
몸무게를 입력하세요 (KG) : 85
당신의 BMI는 비만 1단계 입니다.

In [ ]:
Height = float(input('키를 입력하세요 (cm): '))
Weight = float(input('몸무게를 입력하세요 (kg): '))
BMI = float (Weight / ((Height/100) **2))
if BMI > 29.9 :
    print('당신의 BMI는 비만 2단계 입니다.')
elif 23 <= BMI <= 29.9 :
    print('당신의 BMI는 비만 1단계 입니다.')
elif 18.5 <= BMI <=22.9 :
    print('당신의 BMI는 정상체중 입니다.')
else :
    print('당신의 BMI는 저체중 입니다.')

# 문자열 처리

In [ ]:
mystr = '학교종이 땡땡땡'
print(mystr[0])
print(mystr[-1])
# mystr[1] = '원'
for s in mystr:
    print(s)

mystr='''동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려 강산
대한 사람 대한으로 길이 보전하세'''
print(mystr)

In [ ]:
hello =  '나는 "안녕하세요"라고 인사합니다.'
print(hello)
hello2 = "나는 \"안녕하세요\"라고 인사합니다."
print(hello2)
print("철수\t영희")

In [ ]:
[문제] 파일이름 슬라이싱
- 파일이름 : "20240315-163750.jpg"
[출력결과]
촬영 날짜 : 2024년 03월 15일 
촬영 시간 : 16시 37분
확장자: jpg

In [ ]:
mystr = '20240315-163750.jpg'
date = mystr[0:4]
month = mystr[5:6]
day = mystr [6:8]
print(f'촬영 날짜 : {date}년 {month}월 {day}일')

In [ ]:
file = "20240315-163750.jpg"
print(f'촬영 날짜: {file[:4]}년 {file[4:6]}월 {file[6:8]}일')
print(f'촬영 시간: {file[9:11]}시 {file[11:13]}분')
# print(f'확장자: {file[-3:]}')
print(f'확장자: {file[file.find(".")+1:]}')

In [ ]:
# 문자열 뒤집기
str = 'hello'
print(str[::-1])

## 문자열 함수

In [ ]:
s = '''생각이란 생각할수록 생각나므로
생각하지 말아야 할 생각은 생각하지 않으려고 하는 생각이
옿은 생각이라고 생각합니다.'''
print(s.count('생각'))

In [ ]:
s = 'Python programming'
print('a' in s)
print('z' in s)

In [ ]:
s = '짜장 짬뽕 탕수육'
print(s.split())

s2 = '서울->대전->대구->부산'
print(s2.split('->'))

In [ ]:
city_list = ['서울', '대전', '대구', '부산']
city_string = ",".join(city_list)
print(city_string)

In [ ]:
s = '대한민국'
print('.'.join(s))

In [ ]:
[문제] 주민등록번호 분석하기
- 임의의 주민등록번호를 입력받아 다음과 같이 생년과 성별을 추출하는 프로그램을 작성하세요.
[실행예시] 
주민등록번호: 881231-1234567
88년생 남자
성별 1234중 아니면 : 성별값은 1~4 사이의 값만 유효

In [ ]:
num = input('주민등록번호: ')
if num[num.find("-")+1] == "1" or num[num.find("-")+1] == "3" :
    print(f'{num[:2]}년생 남자')
elif num[num.find("-")+1] == "2" or num[num.find("-")+1] == "4" :
    print(f'{num[:2]}년생 여자')
else :
    print(f'성별값은 1~4 사이의 값만 유효')

In [ ]:
jumin = input('주민등록번호: ')
year = jumin[:2]
gender = jumin[7]
s_gender = ''
if gender in ['1','3']:
    s_gender = '남자'
elif gender in ['2','4']:
    s_gender = '여자'
else :
    s_gender = '성별오류'
print(f'{year}년생 {s_gender}')

In [ ]:
## 문자열 대입

In [ ]:
print('I eat %d apples.'%3)
print('I eat %s apples.'%'five')
print('I eat %d%% apples.'%95)

In [ ]:
month = 8
day = 15
anni = '광복절'
print('%d월 %d일은 %s이다.'%(month, day, anni)) # 전달할 값이 많을때 %뒤에 괄호열고 순서대로

In [ ]:
number = 4
day = '삼'
print('나는 사과 {}개를 먹고 {}일 동안 아팠다.'.format(number, day))
print('나는 사과 {1}개를 먹고 {0}일 동안 아팠다.'.format(number, day))
print('나는 사과 {number}개를 먹고 {day}일 동안 아팠다.'.format(number=7, day=3))

In [ ]:
print('내 이름은 {:->5s}입니다.'.format('홍길동'))

[문제] 단어 수 세기
- 문자열 내 전체 단어가 몇개인가?
- 문자열 내 'like' 단어의 갯수가 몇개인가?
- 문자열 내 가장 많이 포함되어 있는 단어는 무엇인가?
>- 1. 문자열 끝에 엔터 ('\n' 개행문자를 "" 공백으로 치환해라= 한줄의 문자열로)
>  2. replace 함수 ('\n', ' ')
>  3. 문자열을 단어로 나눈다. split 함수
>  4. 모든 단어를 소문자로 수정한다. lower 함수

In [ ]:
song = """Hello, it's me 
I was wondering if after all these years you'd like to meet
To go over everything
They say that time's supposed to heal ya
But I ain't done much healing
Hello, can you hear me?
I'm in California dreaming about who we used to be
When we were younger and free
I've forgotten how it felt before the world fell at our feet
There's such a difference between us
And a million miles
Hello from the other side
I must've called a thousand times
To tell you I'm sorry for everything that I've done
But when I call, you never seem to be home
Hello from the outside
At least I can say that I've tried
To tell you I'm sorry for breaking your heart
But it don't matter, it clearly doesn't tear you apart anymore
Hello, how are you?
It's so typical of me to talk about myself, I'm sorry
I hope that you're well
Did you ever make it out of that town where nothing ever happened?
It's no secret that the both of us are running out of time
So hello from the other side (Other side)
I must've called a thousand times (Thousand times)
To tell you I'm sorry for everything that I've done
But when I call, you never seem to be home
Hello from the outside (Outside)
At least I can say that I've tried (I've tried)
To tell you I'm sorry for breaking your heart
But it don't matter, it clearly doesn't tear you apart anymore
Ooh-ooh, anymore
Ooh-ooh-ooh, anymore
Ooh-ooh, anymore
Anymore
Hello from the other side (Other side)
I must've called a thousand times (Thousand times)
To tell you I'm sorry for everything that I've done
But when I call, you never seem to be home
Hello from the outside (Outside)
At least I can say that I've tried (I've tried)
To tell you I'm sorry for breaking your heart
But it don't matter, it clearly doesn't tear you apart anymore"""

song = song.lower().replace('\n',' ')
#불용문자 제거하기
#punctuation = ",.''`?!()-"
#for p in punctuation:
    #song = song.replace(p,'')
    
max_word_count = 0 #가장 많이 나온 단어의 횟수
max_word = '' #가장 많이 나온 단어
for word in word_list:
    word_count = word_list.count(word)
    if word_count > max_word_count:
        max_word_count = word_count
        max_word = word
print('가장 많이 나온 단어는 %s이며 횟수는 %d이다.'%(max_word, max_word_count))
#print (song)
print('like 단어의 갯수: ', song.count('like'))

word_list = song.split()
print('전체 단어 갯수: ', len(word_list))

In [ ]:
<pre>
    
    [문제] 영화 예매
    10개 좌석만 있는 극장의 예매 프로그램 만들기
    비어있는 좌석은 0으로 표기하고, 예매가 된 좌석은 1로 표기한다.
    만약 예약되어있는 좌석을 예약하려고 했을 때 적절한 오류 메시지를 출력하고 다시 예약을 받는다.
    [실행예시]
    좌석을 예약하시겠습니까? (예약: 1, 종료:0)
    현재의 예약상태는 다음과 같습니다. 
---------------------
1 2 3 4 5 6 7 8 9 10
---------------------
0 0 0 0 0 0 0 0 0  0 
몇 번째 좌석을 예약하시겠습니까? 2
예약되었습니다.
좌석을 예약하시겠습니까? (예약: 1, 종료:0)
---------------------
1 2 3 4 5 6 7 8 9 10
---------------------
0 1 0 0 0 0 0 0 0  0 
예약할 수 없습니다. 다른 좌석을 입력하세요.
    
</pre>

In [ ]:
#좌석 예약 정보를 저장하는 리스트
# 2번 좌석 예약 : seats[방번호1] = 1
seats = [0,0,0,0,0,0,0,0,0,0]
while True:

In [ ]:
seats = [0,0,0,0,0,0,0,0,0,0]
while True:
    iscontinue = int(input('좌석을 예약하시겠습니까? (예약:1, 종료:0)'))
    if iscontinue == 0:
        break
    elif iscontinue == 1:
        print('현재의 예약 상태는 다음과 같습니다.')
        print('----------------------------------')
        print('1 2 3 4 5 6 7 8 9 10')
        print('----------------------------------')
        for s in seats: 
            print('%3d'%s, end='')
        while True:
            seat_num = int(input('몇 번째 좌석을 예약하시겠습니까?'))
            if seats[seat_num-1] == 1:
                print('해당 좌석은 이미 예약 됐습니다.')
            else :
                seats[seat_num-1] = 1
                print ('예약되었습니다')
                break

# 리스트(list)

In [ ]:
# 리스트 선언
a = []
b = list()
c = [1, 2, 3]

In [ ]:
# 슬라이싱
a = [1, 2, 3, 4, 5, 6, 7]
b = a[:2]
print(b)
c = a[:]
print(c)

In [ ]:
# 리스트 복사
a = [1,2,3,4,5,6,7]
#얕은복사
b=a
print(b)
b[2]= 20 
print(a)
#깊은복사
c = a[:]
c[0] = 200
print(a)
print (a is b)
print (a is c)

In [ ]:
#리스트의 연결(+), 반복(*)
a = [1,2,3]
b=[4,5,6]
print(a+b)
print(a*3)

In [ ]:
#리스트에 들어있는 요소 삭제, 수정
a = [1,2,3,4,5]
a[3]=40
print(a)
a[1:3] = []
print(a)
del a[1]
print(a)

## 리스트의 함수들

In [ ]:
a = [1,5,3,6,7]
r = a.sort(reverse=True) # 정렬의 결과를 반환하지 않는다
print(r)
print(a)

In [ ]:
a = [1,3,4,2,1,10,22]
a.remove(4) # index로 삭제하는 것이 아니고 실제 값을 삭제
print(a)
temp = a.pop() # 가장 마지막 데이터를 꺼낸 후 삭제
print(temp)
print(a)

In [ ]:
a = [1,3,4,2,1,10,22]
# 다음 함수는 리스트 객체의 함수가 아닌 파이썬의 내장함수
print(len(a))
print(max(a))
print(min(a))
print(sum(a))
print(sum(a)/len(a))

In [ ]:
ans = input('결제를 하시겠습니까? ')
if ans in ['yes', 'y', 'ok', '네', '예']:
    print('구매해주셔서 감사합니다')
else :
    print('안녕히가세요!')

## 이중 리스트
리스트의 요소로 리스트를 갖는 형태

In [ ]:
l = [[1,2,3],
    [4,5,6],
    [7,8,9]]
print(l[0])
print(l[0][0])

for x in l :
    for y in x :
        print(y, end=' ')
    print()

In [ ]:
- [:]과 deepcopy()의 차이

In [ ]:
import copy 

matrix = [[1,2,3],
          [4,5,6],
          [7,8,9]]
#[:]를 이용한 깊은 복사는 서브 리스트까지 깊은 복사를 수행하지 않는다.
#copy_m = matrix[:]
copy_m = copy.deepcopy(matrix)
#반면 deepcopy함수는 모든 요소에 대한 깊은 복사를 수행한다.
print(id(matrix[0]))
print(id(copy_m[0]))

In [ ]:
[문제] 성적 총점과 평균 구하기
학생 3명의 성적에 대해 각각 총점과 평균을 구하고, 전체 평균을 구하세요.
score = [[88, 76, 92, 98],
        [65, 70, 58, 82],
        [82, 80, 78, 88]]
[실행결과]
1번 학생: 총점: 300, 평균: 82.50
2
3

In [ ]:
score = [[88, 76, 92, 98],
        [65, 70, 58, 82],
        [82, 80, 78, 88]]
     
sum1 = int(sum(score[0]))
sum2 = int(sum(score[1]))
sum3 = int(sum(score[2]))
sum4 = sum1+sum2+sum3

print(f'1번 학생-총점: {sum1}, 평균: {sum1/4}')
print(f'2번 학생-총점: {sum2}, 평균: {sum2/4}')
print(f'3번 학생-총점: {sum3}, 평균: {sum3/4}')
print(f'전체 평균: {sum4/4}')

In [ ]:
score = [[88, 76, 92, 98],
        [65, 70, 58, 82],
        [82, 80, 78, 88]]
index = 1
total = 0 #전체 모든 학생의 총점을 저장
all_subjects = 0 # 전체 과목 수 
for student in score:
    print(f'{index}번 학생 - 총점: {sum(student)}, 평균:{sum(student)/len(student):.2f}')
    index += 1
    total += sum(student)
    all_subjects += len(student)
print(f'전체 평균:{total/all_subjects:.2f}')

In [ ]:
[문제] 일수 계산
1~12월 중 입력 받은 월이 몇 일까지 있는 지를 계산하는 프로그램을 작성하세요.
[실행예시]
년도를 입력하세요: 2024
월을 입력하세요: 2
2024년 2월은 29일까지 있습니다.

[참고] 윤년 조건 : 4로 나눠지고, 100으로 나눠지지 않는 해거나 400으로 나누어떨어지는 해
daysInMonth = [31,28,31,30,31,30,31,31,30,31,30,31]

In [ ]:
year = int(input('년도를 입력하세요: '))
month = int(input('월을 입력하세요: '))
days = 0
if month ==2:
    days = 29 if (not year%4 and year%100) or not year%400 else 28
else: 
    days = daysInMonth[month-1]
print(f'{year}년 {month}월은 {days}일까지 있습니다.')

#딕셔너리 (Dictionary)

In [ ]:
# 딕셔너리 생성
x = {'name':'홍길동', 'age':32}
print(x['name'])
x['address']='서울시 강남구'
print(x['address'])
x['address']='서울시 강서구'
print(x)
print(x.get('birth', '생일 미등록'))

In [ ]:
#딕셔너리 데이터 순회
y= {'name':'전우치', 'phone':'010-1234-5678', 'age':28}
print(y.keys())
print(y.items())
for key in y.keys():
    print(key, y[key])
print('-'*15)
for key, value in y.items():
    print(key, value)

In [ ]:
score = {'홍길동':89, '임꺽정':88, '손오공':80, '전우치':67}
print('합계: ', sum(score.values()))
print(sorted(score.items(), key=lambda x:x[1]))

[문제] 단어 빈도수 구하기
- text 문장 안에 포함된 각 단어의 빈도수를 구하여 dictionary형태로 결과를 출력
- 단어는 key가 되고 빈도수는 value값이 된다.

In [ ]:
song = """Hello, it's me 
I was wondering if after all these years you'd like to meet
To go over everything
They say that time's supposed to heal ya
But I ain't done much healing
Hello, can you hear me?
I'm in California dreaming about who we used to be
When we were younger and free
I've forgotten how it felt before the world fell at our feet
There's such a difference between us
And a million miles
Hello from the other side
I must've called a thousand times
To tell you I'm sorry for everything that I've done
But when I call, you never seem to be home
Hello from the outside
At least I can say that I've tried
To tell you I'm sorry for breaking your heart
But it don't matter, it clearly doesn't tear you apart anymore
Hello, how are you?
It's so typical of me to talk about myself, I'm sorry
I hope that you're well
Did you ever make it out of that town where nothing ever happened?
It's no secret that the both of us are running out of time
So hello from the other side (Other side)
I must've called a thousand times (Thousand times)
To tell you I'm sorry for everything that I've done
But when I call, you never seem to be home
Hello from the outside (Outside)
At least I can say that I've tried (I've tried)
To tell you I'm sorry for breaking your heart
But it don't matter, it clearly doesn't tear you apart anymore
Ooh-ooh, anymore
Ooh-ooh-ooh, anymore
Ooh-ooh, anymore
Anymore
Hello from the other side (Other side)
I must've called a thousand times (Thousand times)
To tell you I'm sorry for everything that I've done
But when I call, you never seem to be home
Hello from the outside (Outside)
At least I can say that I've tried (I've tried)
To tell you I'm sorry for breaking your heart
But it don't matter, it clearly doesn't tear you apart anymore"""

song = song.lower().replace('\n',' ')
punctuation = ",.''`?!()-"
for p in punctuation:
    song = song.replace(p,'')
word_list = song.split()
result = {}
for word in word_list :
    if result.get(word) == None :
        result[word]=1 #값없을시 에러
    else : 
        result[word]+=1

* #for word in word_list:
* #   result[word] = result.get(word,0)+1
    
print(sorted(result.items(), key=lambda x:x[1], reverse=True))

# 집합 (SET)

In [ ]:
print(set('Hello Python')) #중복값과 공백 주의

In [ ]:
a = {1,2,3,4,5,6}
b = {5,6,7,8}
print('합집합: ', a.union(b))
print('교집합: ', a.intersection(b))
print('차집합: ', a.difference(b))

# Comprehension

In [ ]:
tmp = [1,2,4,6,7,33,65,7,3,10,43]
a = [ i for i in tmp]
print(a)

b = [i*3 for i in tmp]
print(b)

c = [i for i in tmp if not i%2]
print(c)

#4행 7열 형태의 이중 리스트
double_list =[[0,0,0,0,0,0,0],
              [0,0,0,0,0,0,0],
              [0,0,0,0,0,0,0],
              [0,0,0,0,0,0,0]]
double_list = [ [ 0 for col in range (7)]for row in range(4)]
print(double_list)

# set comprehension

In [ ]:
s = {i for i in range(1,11)}
print(s)

In [ ]:
# dictionary comprehension
result = {word: word_list.count(word) for word in word_list }
print(result)

[문제] 1~100까지 1씩 증가하는 데이터를 생성해서 3의 배수
이거나 5의 배수인 데이터만 리스트에 포함시키는 프로그램을 작성하세요.

In [ ]:
result = [i for i in range(1,101) if not i % 3 or not i % 5]
print(result)

# zip()

In [ ]:
data1 = [1,2,3,4,5]
data2 = [10,20,30,40,50]
data3 = [100,200,300,400,500]

result1 = [x for x in zip (data1, data2)]
print(result1)
result2 = [sum (x) for x in zip (data1, data2, data3)]
print(result2)

In [ ]:
yoil = ['월','화','수','목','금','토','일']
food = ['갈비탕', '순댓국', '칼국수', '삼겹살']
for y, f in zip (yoil, food):
    print(f'{y}요일 메뉴:{f}')

In [ ]:
d= dict(zip(yoil,food))
print(d)

In [ ]:
yoil = ['월','화','수','목','금','토','일']
print(list(enumerate(yoil)))

for i, item in enumerate(yoil,1):
    print(i,item)

In [ ]:
color = ['빨강','주황','노랑','초록','파랑']
mapping = {v:i for i, v in enumerate (color)}
print(mapping)

# 함수

In [ ]:
def restaurant(food, drink, desert):
    return {'food':food, 'drink':drink, 'desert':desert}
# 위치 인자를 이용한 함수의 호출
first = restaurant('스테이크', '포도주', '치즈케익')
print(first)
# 키워드 인자를 이용한 함수의 호출 (정의된 매개변수 순서에 상관없이 호출 가능)
second = restaurant(drink='막걸리', desert='파전', food='잔치국수')
print(second)

In [ ]:
def restaurant(food='연어초밥', drink='사케', desert='아이스크림'):
    return {'food':food, 'drink':drink, 'desert':desert}
print(restaurant())
print(restaurant('돈부리'))

In [ ]:
def calcstep(begin, end, step=1):
    hap = 0
    for num in range (begin, end+1, step):
        hap += num 
    return hap 

print('1~10까지의 합 = ', calcstep(1,10))

In [ ]:
price = 1000 #전역변수

def sales():
    global price
    price = 5000 #지역변수
    b_price = 500
sales() # 함수의 호출(사용)
print('sales() 함수 호출 후 price 값: ', price)
#print(b_price) #지역 변수는 함수 밖에서 호출 불가능

[문제] 다음과 같은 결과를 출력하는 함수를 정의하세요.
<pre>
    print_star(5)
    *
    **
    ***
    ****
    *****
</pre>

In [ ]:
print('print_star (5)')
a = 5
def print_star (a):
    for a in range(a+1) :
        print( '*' * a)
print_star(a)

In [ ]:
def print_star(n):
    result=[]
    for i in range(1, n+1):
        result.append(i*'*')
    return '\n'.join(result)

r = print_star(5)
print(r)

In [ ]:
balance = 100
def deposit(amount):
    global balance
    balance += amount
    return balance

def withdraw(amount):
    result = False #출금결과 저장 (True: 성공, False:실패)
    global balance
    if balance >= amount:
        balance -= amount
        result = True
    return result

# result = deposit(10)
#print (result)

success = withdraw(1000)
if success :
    print('출금성공')
else :
    print('잔고부족')

[문제] 함수를 이용한 계산기
<pre>
이항사칙연산식을 매개변수로 받아 연산의 결과를 출력하는 함수를 정의하세요.
- 함수 형식 : calculator(exp), 반환 값 없음
- exp: 사용자로부터 입력 받은 문자열 형태의 연산식
- +, -, *, / 외 연산자 사용 시 오류 메시지 출력
- 나누기 연산에서 부모의 값이 0인 경우 오류 메시지 출력
(실행예시)
계산식을 입력하세요: 10+20
10 + 20 = 30.00
연산자 오류
</pre>

In [ ]:
# 함수의 정의
def calculator(exp):
    operator = '' #발견된 연산자 문자열을 저장 
    for op in ['+','-','*','/']:
        op_index = exp.find(op) #op 위치값 (발견 안되면 -1을 반환)
        if op_index != -1: #연산식 내에서 찾고자 하는 연산자가 발견이 됐을 경우
            operator = op
            break
    if op_index != -1: #for문을 다 돌아봐야 연산자 오류(-1)이 진짜인지 아닌지 알 수 있기 때문에 이 if문은 밖으로 빼줌
        value1 = float(exp.split(operator)[0])
        value2 = float(exp.split(operator)[1])

        if operator == '+':
            print(f'{exp} = {value1+value2:.2f}')
        elif operator == '-':
            print(f'{exp} = {value1-value2:.2f}')
        elif operator == '*':
            print(f'{exp} = {value1*value2:.2f}')
        elif operator == '/':
            if value2 != 0:
                print(f'{exp} = {value1/value2:.2f}')
            else:
                print('0으로 나눌 수 없습니다.')
    else: 
        print('연산자 오류!')
d = input('계산식을 입력하세요: ')
calculator(d)

## eval() - 동적 코드 실행
- eval 함수는 문자열 형태로 된 파이썬 표현식을 평가하여 그 결과를 리턴한다.

In [ ]:
result = eval('1+2*3')
print(result)

a = 2
print(eval('a+3'))

data = '["서울", "대전", "광주"]'
for c in eval(data):
    print(c)

# *arg와 **kwargs 매개변수

In [ ]:
def test(*args):
    print('매개변수 값: ', args)
test()
test(1,)
test(1,2,3,'a','b','c')

In [ ]:
def test (a,b,*args):
    print('a->',a)
    print('b->',b)
    print('args->',args)
test(10,20,30)

In [ ]:
def test(a, **kwargs):
    print(a,kwargs)
test(10)
test(10,b=20)

In [ ]:
def calcstep(**kwargs):
    begin = kwargs['begin']
    end = kwargs['end']
    step = kwargs['step']

    hap = 0
    for n in range(begin, end+1, step):
        hap += n
    
    return hap
    
print('1~10 합계: ', calcstep(begin =1, end=10, step=1))

In [ ]:
dic={}
dic['a'] #없으면 키 에러
dic.get('a')#없으면 none 리턴

# Filter, Map, Reduce

In [ ]:
def fluck(s):
    return s < 60
    
score = [45,89,72,53,94]
for s in filter(fluck,score) :
    print('낙제점수: ',s)

In [ ]:
def half(s):
    return s/2
score = [45,89,72,53,94]
for s in map(half, score):
    print(s, end=" ")

In [ ]:
from functools import reduce
# reduce 함수에 사용할 집계 함수는 두개의 인수를 받는다.
# 첫 번째 매개변수는 누적자(accumulator)가 되고 
# 두 번째 매개변수는 현재 값이 넘어오게 된다.
def hap(a,b):
    return a+b
score = [45,89,72,53,94]
print(reduce(sum, score))

alphabat = ['H','e','l','l','o']
print(reduce(hap, alphabat))

# lambda

In [ ]:
def myfunc(x,y):
    return x+y

result = myfunc(10,20)
print(result)

In [6]:
result = lambda x, y: x+y
print(result(10,20))

30

In [ ]:
data = {'a':10, 'b':2, 'c':13, 'd':7}
print(sorted(data))
print(sorted(data.items(), key=lambda x:x[1]))

In [ ]:
def squared(s):
    return s**2

a = [1,2,3,4,5]
print(list(map(lambda x:x**2, a)))
print(list(map(squared, a)))

In [7]:
x = [1,3,5,7,9]
y = [2,4,6,8,10]

print(list(map(lambda x1, y1:x1+y1, x, y)))

[3, 7, 11, 15, 19]

In [8]:
k = list(range(1,11))
print(k)
print(list(map(lambda x: x**2 if not x%2 else x, k)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 3, 16, 5, 36, 7, 64, 9, 100]

In [5]:
score = [45, 30, 90, 100, 67]
print(list(filter(lambda x:x<60, score)))

[45, 30]

In [ ]:
def calc(op, a, b):
    op(a,b)
def add(a, b):
    print(a+b)
def multi(a,b):
    print(a*b)
calc(add,1,2)

In [ ]:
calc(lambda a,b:print(a/b),5,2)

# 표준모듈

In [ ]:
import time

t = time.time()
print(time.ctime())

In [ ]:
import time

start = time.time()
sum = 0
for i in range(1, 100000001):
    sum += i
end = time.time()
prin_t

In [ ]:
import time

now = time.localtime()
#print(now)
print ('%d년 %d월 %d일'%(now.tm_year, now.tm_mon, now.tm_mday))
print ('%d시 %d분 %d초'%(now.tm_hour, now.tm_min, now.tm_sec))

In [ ]:
import time
print('이 문장은')
time.sleep(2)
print('2초마다')
time.sleep(2)
print('출력됩니다.')

In [ ]:
import random

random.seed(0)
for i in range(5):
    print(random.randint(1,10))

In [ ]:
import random
food = ['짜장면', '짬뽕', '탕수육', '군만두']
print(food)
random.shuffle(food)
print(food)

In [ ]:
print(random.choice(food))

In [ ]:
print(random.sample(food, 2))

[문제] 숫자 맞추기 게임
- 1~100사이의 난수를 맞추는 게임
- 입력 값과 난수 값을 비교하여 어떤 값이 더 큰지 힌트를 알려준다.
- 난수를 맞추면 시도 횟수 출력과 함께 프로그램을 종료한다.

In [ ]:
import random

x = random.randint(1,100)
while True:
    y = int(input('난수맞추기 게임~! 값을 입력해주세요: '))
    i += 1
    if x == y :
        print('정답!! 축하합니당! 시도횟수 총 :',i)
        break
    if x < y :
        print('실패!! 더 작은 값을 추측해보세요~!')
    else :
        print('실패!! 더 큰 값을 추측해보세요~!')

In [ ]:
import random

num = random.randint(1,100)
count = 0
while True:
    guess = int(input('숫자를 입력하세요: '))
    count += 1
    if num == guess :
        print(f'{count}번만에 맞췄습니다.')
        break
    elif guess > num :
        print('입력한 숫자보다 더 작습니다.')
    else : 
        print('입력한 숫자보다 더 큽니다.')

# File I/O

In [ ]:
#파일생성
f = open('myfile.txt', 'w')
f.close()
print('End')

In [ ]:
# 파일 생성 후 문자열 쓰기
f = open('myfile.txt','w')
f.write('Hello world')
f.close()
print('End')

In [ ]:
# 파일 생성 후 한글이 포함된 문자열 쓰기
f = open('myfile.txt','w', encoding='utf-8')
f.write('안녕하세요!')
f.close()
print('End')

In [ ]:
f = open('song .txt','r')
data = f.readlines()
print(data)
f.close()

In [ ]:
f = open('song .txt','r')
data = f.read()
print(data)
f.close()

In [ ]:
f = open('song .txt','r')
while True:
    line = f.readline()
    if not line: break
    print(line, end='')
f.close()

# 데이터 추가

In [ ]:
f = open('song .txt', 'a')
f.write ('========================================')
f.close()
print('end')

## with 문 사용
- with 문을 사용하면 with 블럭을 벗어나는 순간 열린 파일 객체가 자동으로 닫힌다.

In [ ]:
with open('song .txt', 'r') as f:
    print(f.read())

In [ ]:
poem = """Program is fun
When the word is done
if you wanna make your work also fun
use Python!
"""
with open('poem.txt', 'w') as f:
    f.write(poem)

In [ ]:
f = open ('poem.txt', 'r')
f.seek(3, 0)
print(f.read())

In [ ]:
original = open('python.jpg', 'rb')
target = open('copy_python.jpg','wb')
data = original.read( )
target.write(data)
original.close
target.close
print('end')

[문제] 학생들의 성적 합계, 평균 구하여 저장하기
<pre>
    score.tx 파일에 저장되어 있는 학생들의 점수를 읽어서 합계와 평균을 구한 후 result.txt에 결과를 저장하세요.
(저장형식)
    이름 합계 평균
    홍길동 370점 70.0
    임꺽정
</pre>

In [ ]:
source = open('score.txt', 'r', encoding ='utf-8')
target = open('result.txt', 'w', encoding = 'utf-8')
target.write ('이름\t합계\t평균\n')
while True:
    score = source.readline()
    if not score: break
    data = score.split()
    total = int(data[1])+int(data[2])+int(data[3])
    avg = total / 3
    target.write('%3s\t%4d\t%.2f\n'%(data[0],total,avg))
source.close()
target.close()
print('End')

# File 과 Directory

## os 모듈

In [ ]:
import os

path = r'g:\내 드라이브\DIMA 4\01.Python'
os.chdir(path)

In [ ]:
# 현재 작업 디렉토리 및 경로 변경

c_path = os.getcwd()
print('현재 작업 디렉토리: ', c_path)
os.chdir('..')
print('상위 디렉토리 이동')
c_path = os.getcwd()
print('현재 작업 디렉토리: ', c_path)

In [ ]:
# 파일 및 디렉토리 목록 확인

path = r'g:\내 드라이브\DIMA 4\01.Python'
os.chdir(path)
list = os.listdir()
for item in list:
    if os.path.isfile(item):
        print('File:',item, ',', os.path.getsize(item), 'bytes')
    else:
        print('Dir:',item)

## glob 모듈

In [ ]:
import os
import glob
os. chdir('..')
print('현재 작업 디렉토리: ', os.getcwd())
# 현재 디렉토리 내 모든 디렉토리 출력: **/, */
for f in glob.glob('**/'):
    print(f)

In [ ]:
# 현재 디렉토리 내 디렉토리와 파일 출력: **, *
os.chdir('./01.Python')
for f in glob.glob('**'):
    print(f)

In [ ]:
os.chdir (r'g:\내 드라이브\DIMA 4\01.Python')
for f in glob.glob('*.ipynb'):
    print(f)

# 예외 (Exception)

In [ ]:
## 예외 발생 상황

In [ ]:
# indexef
a = [1,2,3,4,5]
# print(a[5])
b = '1234b'
c = int(b)
#zero divisionError
#print(10/10)

#FilenotfoundError
f = open('now_exists.txt,'3)

In [ ]:
# 예외처리 (try~except)

In [ ]:
try:
    data = 10/0
except: 
    print('0으로 나눌 수 없습니다.')
print('end')

## 예외 처리 (try~except~except)

In [ ]:
try :
    a = [1,2,3]
    # print(10/0)
    print(a[3])
except ZeroDivisionError as ze:
    print('0으로 나눌 수 없습니다.')
    print(ze)
except IndexError as ie:
    print('리스트의 범위를 벗어났습니다.')
    print(ie)
print('end')

In [ ]:
try:
    print(10/0)
    a = [1,2,3]
    print(a[3])
except (ZeroDivisionError, IndexError) as e:
    print(e)

## 예외 처리 (try~except~finally)

In [ ]:
try: 
    a = [1,2,3]
    print(a[3])
except IndexError:
    print('리스트의 범위를 벗어났습니다.')
finally:
    print('항상 실행되는 코드')
print('end')

In [ ]:
def inputNum():
    num =int(input('양수 입력: '))
    if num < 0:
        raise ValueError('양의 정수만 입력')
    return num 
try:
    num = inputNum()
    print(num)
except ValueError as e:
    print(e)

In [ ]:
a = 10
print((type (a)))

b = 'abc'
print((type (b)))

# Class

In [ ]:
class FourCal:
    pass
    #생성자 : 클래스의 객체를 생성할 때 멤버 변수를 초기화 하기 위한 함수
    #def __init__(self, first, second):
        #self.first = first #FourCal 클래스의 매개 변수
        #self.second = second #FourCal 클래스의 매개 변수
#a = FourCal(3,4)
a=FourCal()
#print(a.first)
#print(a.second)

In [ ]:
class Account:
    # Account 클래스의 속성을 (멤버변수) 특정 값으로 초기화 하기 위한 생성자
    def __init__(self, accNo, balance, owner):
        self.accNo = accNo
        self.balance = balance
        self.owner = owner
    # Account 객체가 가지고 있는 잔고 값을 조회하는 함수
    def getBalance(self):
        return self.balance

    def accountInfo (self):
        print(f'계좌번호 : {self.accNo}, 소유주:{self.owner}')

a1 = Account('11-11',500,'홍길동')
a2 = Account('11-12',600,'손오공')

a1.accountInfo()
print('잔고:', a1.getBalance())
a2.accountInfo()

# 상속

In [ ]:
class Human:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def intro(self) :
        print(f'저는 {self.age}살 {self.name}입니다.')
kim = Human('김철수', 29)
kim.intro()

lee = Human('이길동',19)
lee.intro()

In [ ]:
class Student(Human):
    def __init__(self, name, age, stdNo):
        super().__init__(name, age) #부모 클래스(Human)의 생성자 호출
        self.stdNo = stdNo

    def study(self):
        print('Study Hard~!!')
    # method overriding (매서드 재정의)
    # 상속관계에서 부모 클래스에 정의된 매서드(함수)를 자식 클래스의 상황에 맞게 재정의 하는 것
    def intro(self):
        super().intro() #부모 클래스(Human)의 intro() 메서드 호출
        print(f'학번은 {self.stdNo}입니다.')
kim = Student('김한별', 21, '2024')
kim.study()
kim.intro()

# 은닉 (Encapsulation)

- property를 이용한 setter/getter
    - 멤버 변수에 접근할 때 getter/setter 메서드를 이용하지 않고 직접 멤버 변수를 호출하여 사용 가능
    - 하지만 내부적으로는 getter/setter 메서드를 통해 값을 읽고 쓰게 된다.

In [4]:
class Date:
    def __init__(self, month):
        # 가급적 멤버 변수의 이름을 어렵게 설정
        self.__inner_month = month
        
    def getMonth(self) : 
        print('getMonth() call')
        return self.__inner_month
        
    def setMonth(self, month):
        if 1<= month<=12:
            self.__inner_month = month
        print('setMonth() call')
        
    month = property(getMonth, setMonth)
    
today = Date(3)

#print(today.month)
today.month = 15
print(today.month)
today.month = 11
print(today.month)
today.__inner_month = 10 # 은닉된 멤버 변수에 새로운 값을 쓴 것이 아니라 새로운 멤버 변수를 추가한 것임
print(today.month)
print(today.__dict__)

setMonth() call
getMonth() call
3
setMonth() call
getMonth() call
11
getMonth() call
11
{'_Date__inner_month': 11, '__inner_month': 10}

- @property 데코레이션을 이용한 setter/getter
    - getter 메서드 앞: @property
    - setter 메서드 앞: @<프로퍼티 이름>.setter

In [8]:
class Date:
    def __init__(self, month):
        self.__inner_month = month
    @property
    def month(self):
        print('getMonth()call')
        return self.__inner_month
    @month.setter
    def month(self, month):
         if 1<= month<=12:
            self.__inner_month = month
            print('setMonth() call')
today = Date(3)
print(today.month)
today.month = 4

getMonth()call
3
setMonth() call

# 사용자 정의 예외 클래스

In [11]:
class MyException(Exception):
    def __init__(self, message):
        super().__init__(message)
        
raise MyException("Test")

MyException: Test

# 다형성 (Polymorphism) - 오버라이딩

In [22]:
class MyDate:
    def __init__(self, year, month, day):
        self.year = year
        self.month = month
        self.day =  day
    # object 클래스에 있는 __str__매서드 재정의
    def __str__(self):
        return f'{self.year}-{self.month}-{self.day}'
    def __eq__(self, other): #참조값 같게 만들어주
        return self.year == other.year and self.month == other.month and self.day == other.day

    def __gt__(self, other):
        if self.year > other.year:
            return True
        elif self.year == other.year and self.month > other.month:
            return True
        elif self.year == other.year and self.month == other.month and self.day > other.day:
            return True
        else:
            return False
        
d1 = MyDate(2024, 3, 26)
d2 = MyDate(2024, 3, 25) # 참조값 달라서 false
print(d1 == d2)
d2 = d1 # 참조값 같아서 true
print(d1==d2)

False
True

# Banking System

In [1]:
from bank import Account, BankManager, InvalidTransactionException

a1 = Account('홍길동','11-11',500)
print(a1.showAccountInfo())

a2 = Account('김철수', '11-12', 1000)
print(a2.showAccountInfo())

print('홍길동->김철수 계좌이체')
try:
    a1.transfer(600, a2)
except InvalidTransactionException as e :
    print(e)
print(a1.showAccountInfo())
print(a2.showAccountInfo())

bm = BankManager()
bm.addAccount(a1)
bm.addAccount(a2)
print('11-11 계좌 검색')
r = bm.searchAccount('11-11')
if r == None:
    print('검색 결과가 없습니다.')
else:
    print(r.showAccountInfo())

소유주 :홍길동, 계좌번호: 11-11, 잔고: 500
소유주 :김철수, 계좌번호: 11-12, 잔고: 1000
홍길동->김철수 계좌이체
이제 잔고가 부족합니다.
소유주 :홍길동, 계좌번호: 11-11, 잔고: 500
소유주 :김철수, 계좌번호: 11-12, 잔고: 1000
11-11 계좌 검색
소유주 :홍길동, 계좌번호: 11-11, 잔고: 500

In [4]:
from bank import Account, BankManager, InvalidTransactionException

def print_main_menu():
    print('--------------------')
    print('Welcome to DIMA Bank')
    print('--------------------')
    print('1. 계좌생성')
    print('2. 입금')
    print('3. 출금')
    print('4. 이체')
    print('5. 전체 계좌정보 출력')
    print('6. 종료')

manager = BankManager()
manager.loadData()
while True:    
    print_main_menu()
    num = input('메뉴 선택: ')
    if num == '1':
        name = input('이름을 입력하세요: ')
        accNo = input('계좌번호를 입력하세요: ')
        balance = int(input('초기 잔고금액을 설정하세요: '))
        a1 = Account(name,accNo,balance)
        manager.addAccount(a1)
        print('다음과 같이 계좌가 생성되었습니다.',a1.showAccountInfo())
        
    elif num == '2':
        while True:
            accNo = input('당신의 계좌번호를 입력하세요: ')
            result = manager.searchAccount(accNo)
            if result == None :
                print('계좌번호가 잘못되었습니다. 다시 입력하세요')
            else: 
                break
        amount = int(input('당신의 계좌가 확인되었습니다. 입금할 금액을 입력하세요: '))
        result.deposit(amount)
        print('처리 후 잔액을 확인해주세요.', result.showAccountInfo())
        
    elif num == '3':
        while True:
            accNo = input('당신의 계좌번호를 입력하세요: ')
            result = manager.searchAccount(accNo)
            if result == None :
                print('계좌번호가 잘못되었습니다. 다시 입력하세요')
            else: 
                break
        amount = int(input('당신의 계좌가 확인되었습니다. 출금할 금액을 입력하세요: '))
        
        if amount != None:
            try:
                result.withdraw(amount)
                print('처리 후 잔액을 확인해주세요.', result.showAccountInfo())
            except InvalidTransactionException as e:
                print(e)
         
    elif num == '4':
        from_accNo = input('출금 계좌번호: ')
        to_accNo = input('입금 계좌번호: ')
        amount = int(input('이체할 금액을 입력해주세요: '))
        from_a = manager.searchAccount (from_accNo)
        to_a = manager.searchAccount(to_accNo)
        if from_a != None and to_a != None:
            try:
                from_a.transfer(amount, to_a)
                print('이체가 완료되었습니다',  from_a.showAccountInfo())
            except InvalidTransactionException as e:
                print(e)
        else:
            print('출금 또는 입금계좌가 존재하지 않습니다.')
    elif num == '5':
        all_account = manager.getAllAcountList ()
        for a1 in all_account:
            print(a1.showAccountInfo())
    elif num == '6':
        manager.saveData()
        print('뱅킹 시스템 종료!')
        break
    else:
        print('메뉴선택 오류!')

--------------------
Welcome to DIMA Bank
--------------------
1. 계좌생성
2. 입금
3. 출금
4. 이체
5. 전체 계좌정보 출력
6. 종료

메뉴 선택:  6

뱅킹 시스템 종료!